body,td { font-family: arial, sans-serif;
    font-size: 14px;
}
code { font-size:15px;
}
tt { font-size:15px;
}

td{
    vertical-align: top;
    padding: 5px;
}
pre {
    font-weight:bold;
    padding-left:10px;
}