#container{float:left;width:740px;background-color:#fff;border:1px solid #d3d3d3;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;height:1%;overflow:hidden;margin:0 0 10px;padding:5px 7px 5px 15px}
#content{margin:20px 10px 0 0}
#primary{float:right;overflow:hidden;width:225px;background-color:#fff;border:1px solid #d3d3d3;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;height:1%;margin:0 0 10px;padding:5px 7px 5px 9px}
#footer{clear:both;width:100%}
.alignleft,img.alignleft{display:inline;float:left;margin-right:1.5em}
.alignright,img.alignright{display:inline;float:right;margin-left:1.5em}
.wp-caption{margin-bottom:1.5em;border:1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.wp-caption img{border:0 none;margin:0;padding:0}
.wp-smiley{max-height:1em;margin:0!important}
.gallery-caption{margin:-1.5em 0 0}
blockquote.left{float:left;margin-left:0;margin-right:20px;text-align:right;width:33%}
blockquote.right{float:right;margin-left:20px;margin-right:0;text-align:left;width:33%}
body{background:none repeat scroll 0 0 #F9F9F0;color:#222;text-align:center;font:100.1% Verdana,"BitStream vera Sans",Helvetica,Sans-serif;margin:0;padding:0}
#wrapper{width:1015px;text-align:left;font-size:78%;line-height:20px;margin:0 auto;padding:0}
a:hover{text-decoration:underline}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,helvetica,sans-serif;font-weight:400;display:block;margin:0 0 10px}
h1{font-size:1.9em}
h2{font-size:1.6em}
h3{font-size:1.3em}
h5{font-size:1em}
h6{font-size:.9em}
hr{background-color:#999;border:0;height:1px;margin-bottom:1.5em}
#banner{width:100%;background-color:#1b689e;height:100px;position:relative;margin:0;padding:0}
#branding-container{width:1010px;margin:0 auto}
#div_logo{width:70px;float:left;margin-top:26px;padding-left:10px}
#branding{float:left;margin-top:30px}
#div_search{width:300px;float:right;text-align:right}
#surheader{color:#FFF;text-align:right;font:75% Arial,Helvetica,Sans-serif;margin:0 auto 24px;padding:6px 0 0}
#surheader a{color:#FFF}
#blog-description,#blog-title{text-align:left;font-size:78%;line-height:20px;margin:0 auto}
#blog-title{font-size:1.6em;font-family:Georgia,Verdana,Arial,Serif;letter-spacing:1px;font-weight:700;margin:0 0 5px}
#blog-title a{text-decoration:none;color:#FFF}
#blog-description{color:#CCC}
.entry-content{clear:both;margin:10px 0 0}
.entry-content .edit-link{clear:both;display:block}
.entry-meta{clear:both;margin:20px 0 0}
.entry-summary{clear:both;margin:10px 0 0}
.navigation{overflow:auto;margin:0 0 1.5em}
.widget-area{line-height:110%}
.widget-title{font-weight:700;font-size:1em;background-color:#E1E9EE;padding:5px}
.widget-area ul{list-style:none;margin-left:0}
.widget-area ul ul ul{margin-left:1em}
.widget-area ul ul li,.widget-area ul ul ul li{background:url(images/icons.gif) no-repeat scroll 0 -368px transparent;list-style:none outside none;margin-top:5px;padding-left:20px}
.related-posts{margin-left:0;margin-bottom:40px}
.related-posts li{background:url(images/icons.gif) no-repeat scroll 0 -368px transparent;list-style:none outside none;margin-top:5px;padding-left:20px;line-height:110%}
.entry-title{font-size:1.5em;margin-bottom:5px;color:#454673}
.entry-title a:hover{text-decoration:underline;margin-bottom:5px}
.post .entry-meta .entry-date,.post .entry-meta .author,.post .entry-meta .download,.post .entry-meta .youtube1,.post .entry-meta .documentation,.post .entry-meta .github,.post .entry-meta .cat-links,.post .entry-utility .cat-links,.post .entry-utility .download,.post .entry-utility .youtube1,.post .entry-utility .documentation,.post .entry-utility .github,.post .entry-meta .comments-link,.post .entry-utility .comments-link,.post .entry-utility .tag-links{background:url(images/icons.gif) no-repeat scroll 0 0 transparent;display:block;font-size:11px;line-height:16px;padding-left:19px;padding-right:18px}
.post .entry-meta .entry-date,.post .entry-meta .author,.post .entry-meta .download,.post .entry-meta .youtube1,.post .entry-meta .documentation,.post .entry-meta .github,.post .entry-meta .cat-links{margin:0 0 20px}
.post .entry-meta .entry-date{background-position:0 -48px;float:left}
.post .entry-meta .download{background-position:0 -304px;float:left}
.post .entry-meta .youtube1{background-position:0 -320px;float:left}
.post .entry-meta .documentation{background-position:0 -272px;float:left}
.post .entry-meta .github{background-position:0 -336px;float:left}
.post .entry-meta .cat-links{background-position:0 -32px;float:left}
.post .entry-meta .author{background-position:0 -160px;float:left}
.post .entry-meta .comments-link,.post .entry-utility .comments-link{background-position:0 -96px;float:right}
.post .entry-utility .cat-links{background:url(images/icons.gif) no-repeat scroll 0 -32px transparent;float:left}
.post .entry-utility .tag-links{background:url(images/icons.gif) no-repeat scroll 0 -16px transparent;float:left}
.post .entry-utility .download{background:url(images/icons.gif) no-repeat scroll 0 -304px transparent;float:left}
.post .entry-utility .youtube1{background:url(images/icons.gif) no-repeat scroll 0 -320px transparent;float:left}
.post .entry-utility .documentation{background:url(images/icons.gif) no-repeat scroll 0 -272px transparent;float:left}
.post .entry-utility .github{background:url(images/icons.gif) no-repeat scroll 0 -336px transparent;float:left}
.post{padding-top:10px;padding-bottom:5px;margin-bottom:16px;border-bottom:1px solid #CCC;overflow:hidden;clear:both}
.entry-utility,.wp-caption-text{clear:both;color:#888;font-size:12px;line-height:18px}
.nav-previous{float:left;margin-left:10px}
.nav-next{float:right;margin-right:10px}
h2.page-title{font-size:1em;float:right;margin:1px 5px 0 0;padding:6px 6px 6px 10px}
.archive-meta{color:gray;margin:0}
#footerinfo{clear:both}
#footerinfo,#footerinfo a{font-size:11px}
a#gotop{float:right;background:url(images/icons.gif) no-repeat scroll 0 -304px;padding-left:16px}
#themeinfo{float:left;margin-left:15px}
ol.commentlist{list-style:none;text-indent:0;margin:0;padding:0}
ol.commentlist li{border:1px solid #d3d3d3;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;height:1%;position:relative;background:#fff;margin:0 0 10px;padding:5px 7px 5px 57px}
ol.commentlist li div.vcard{font:800 12px/1.9 verdana, arial, helvetica, sans-serif}
ol.commentlist li div.vcard img.avatar{border:2px solid #eee;top:7px;left:7px;position:absolute}
ol.commentlist li div.comment-meta{font:100 11px/1.9 verdana, arial, helvetica, sans-serif;position:absolute;top:5px;right:10px;text-align:right}
ol.commentlist li div.comment-meta a{color:#333;text-decoration:none}
ol.commentlist li p{font:normal 12px/1.5 verdana, arial, helvetica, sans-serif;margin:0 0 1em}
ol.commentlist li ul{font:normal 12px/1.4 verdana, arial, helvetica, sans-serif;list-style:square;text-indent:0;margin:0 0 1em;padding:0}
ol.commentlist li div.reply{color:#374C76;font:bold 12px/1.4 verdana, arial, helvetica, sans-serif;text-align:right}
ol.commentlist li div.reply:hover{color:#000}
ol.commentlist li ul.children{list-style:none;text-indent:0;margin:1em 0 0}
ol.commentlist li ul.children li.depth-2,ol.commentlist li ul.children li.depth-3,ol.commentlist li ul.children li.depth-4{margin:0 0 .25em}
ol.commentlist li.comment-author-dbunic{background:#E1E9EE}
#respond h3,h3#comments,h3#postcomment{font-size:105%;font-family:verdana, arial, helvetica, sans-serif;font-weight:700;margin:0}
.replysubmit{background:#ddd;border:1px solid #aaa;text-align:center;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:2px 10px}
.comment-author .says{font-weight:400;font-style:italic}
#commentform textarea{display:block;font:14px 'Lucida Grande',Arial,Helvetica,sans-serif;width:90%;margin-bottom:5px}
#footer-widget-area .widget-area{float:left;margin-right:20px;width:220px}
#access{background:#e1e9ee;display:block;float:left;width:100%;margin:8px 0;padding:0}
.menu-header ul li a,#access .menu ul li a{border-right:3px solid #FFF}
#access .menu-header,div.menu{font-size:13px;width:100%}
#access .menu-header ul,div.menu ul{list-style:none;margin:0}
#access .menu-header li,div.menu li{float:left;position:relative}
#access a{color:#000;display:block;line-height:38px;text-decoration:none;padding:0 10px}
#access ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);display:none;position:absolute;top:38px;left:0;float:left;width:180px;z-index:99999}
#access ul ul li{min-width:180px}
#access ul ul ul{left:100%;top:0}
#access ul ul a{background:#e1e9ee;line-height:1em;width:160px;height:auto;padding:10px}
#access li:hover > a,#access ul ul :hover > a{background:#b9ccd7;color:#000}
#access ul li:hover > ul{display:block}
ul{list-style:square;margin:0 0 18px 1.5em;padding:0}
ol{list-style-type:decimal;margin:0 0 1.5em 2.5em}
ol ol{list-style:upper-alpha}
ol ol ol{list-style:lower-roman}
ol ol ol ol{list-style:lower-alpha}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0}
dl{margin:0 1.5em}
cite,em,i{font-style:italic}
blockquote{margin:0 3em}
pre{font:11px Monaco, monospace;line-height:1.5;margin-bottom:1.5em;margin-left:3em}
code{font:11px Monaco, monospace}
abbr,acronym{border-bottom:1px dotted #666;cursor:help}
sup,sub{height:0;line-height:1;vertical-align:baseline;position:relative}
sup{bottom:1ex}
sub{top:.5ex}
table{border-collapse:collapse}
.alignright{float:right}
.wp-caption-dd{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
#content .gallery{margin:0 auto 18px}
#content .gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%}
#content .gallery img{border:10px solid #f1f1f1}
#content .gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px}
#content .attachment img{display:block;margin:0 auto}
.googleads{width:730px;height:90px;margin:10px 0}
.google-search{height:1226px;padding-top:14px}
#REDIPS_dialog{display:none;z-index:999;position:fixed;overflow:hidden;-moz-border-radius:5px;-webkit-border-radius:5px 5px 5px 5px;background-color:#6A93D4;border-top-left-radius:5px 5px;border-top-right-radius:5px 5px;border-bottom-right-radius:5px 5px;border-bottom-left-radius:5px 5px;padding:1px}
.REDIPS_titlebar{text-align:right;font-size:10px;background-color:#6A93D4;padding:2px}
.REDIPS_titlebar span{background-color:#92B4EA;color:#FFF;cursor:pointer;font-size:14px;padding:0 2px}
.REDIPS_table{background-color:#eee;text-align:center;border-color:#6A93D4;border-style:solid;border-width:0 2px 2px}
.REDIPS_table td{padding:0}
.REDIPS_imgc{overflow-y:hidden;overflow-x:auto;margin:5px auto}
.REDIPS_imgc table{margin:auto}
#REDIPS_dialog input{color:#FFF;background-color:#6A93D4;border:1px #ccc solid;width:65px;height:20px;font-size:10px;margin:18px 5px 10px 0}
#REDIPS_shade{z-index:998;display:none;position:absolute;background-color:#000;width:100%;height:100%}
.addthis_button_facebook_like{margin-left:15px}
.addthis_toolbox.atfixed{border:1px solid #D3D3D3;background-color:#FFF;position:fixed;width:51px;margin-left:-94px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px 10px 10px 8px}
.addthis_toolbox.atfixed a{height:77px;cursor:pointer;display:block;margin:0;padding:0}
#atsocialX{display:none;clear:both;margin-top:39px}
.entry-content img,.widget-container{margin:0 0 1.5em}
.aligncenter,img.aligncenter,.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
.wp-caption p.wp-caption-text,.gallery dl,#content .gallery dl{margin:0}
a,.entry-title a{color:#2970A6;text-decoration:none}
a:visited,.entry-title a:visited{color:#454673}
h4,#twtr-widget-1 .twtr-bd,#twtr-widget-1 .twtr-timeline i a,#twtr-widget-1 .twtr-bd p{font-size:1.1em}
.skip-link,#content #nav-above,#content .gallery br+br{display:none}
#copyright,.alignleft{float:left}
ol.commentlist li div.comment-author,ol.commentlist li.pingback div.vcard{padding:0 160px 0 0}
ol.commentlist li div.vcard cite.fn,blockquote em,blockquote i,blockquote cite{font-style:normal}
ol.commentlist li div.vcard cite.fn a.url,ol.commentlist li div.reply a,ins{text-decoration:none}
#access ul li.current_page_item > a,#access ul li.current-menu-ancestor > a,#access ul li.current-menu-item > a,#access ul li.current-menu-parent > a,* html #access ul li.current_page_item a,* html #access ul li.current-menu-ancestor a,* html #access ul li.current-menu-item a,* html #access ul li.current-menu-parent a,* html #access ul li a:hover{background:none repeat scroll 0 0 #96b1c2;color:#000}
p,dd{margin-bottom:1.5em}
dt,strong{font-weight:700}
table th,table td{padding:3px}